# Node.js dependencies
node_modules/

# Logs
*.log

# Build output
dist/
build/

# Temporary files
*.tmp
*.temp

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.swp

# Local environment variables
.env

# Cached files
.cache/

# Ignore backup folders
backup/

# Package lock files (if you don't want them in your repo)
package-lock.json
yarn.lock